*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body{
    background-color :#f0f2f5;
    color: black;
    font-family: Arial, Helvetica, sans-serif;
}
.card h1, .card h2, .card h3{
    text-align: left;
    margin-left: auto;
    margin-right: auto;
}
.card h4{
    font-size: 2em;
    margin-bottom: 5px;
    text-align: center;
}
.card{
    position: relative;
    background-color:#f2f7f4;
    max-width: 600px;
    width: 90%;
    padding: 20px;
    margin: 20px auto;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    text-align: left;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    cursor: default;
}
.social-media{
    text-align: center;
    margin-top: 15px;
}
.fa-github{
    color: black;
    font-size: 40px;
    margin-top: 10px;
    margin-left: 10px;
}
.fa-github:hover{
    color: #6e5494;
}
.fa-linkedin{
    color: #0A66C2;
    font-size: 40px;
    margin-top: 10px;
    margin-left: 10px;
}
.fa-linkedin:hover{
    color: #1DA1F2;
}
.fa-message{
    color: #0084FF;
    font-size: 40px;
    margin-top: 10px;
    margin-left: 10px;
}
.fa-message:hover{
    color: #005BB5;
}
.fa-at{
    color: black;
    font-size: 40px;
    margin-top: 10px;
    margin-left: 10px;
}
.fa-at:hover{
    color: #6e5494;
}
.cover-photo{
    width: 100%;
    height: 200px;
    object-fit: cover;
    border-radius: 10px 10px 0 0;
    z-index: -1;
}
.profile{
    width: 120px;
    height: 120px;
    border-radius: 50%;
    border-color: #ffffff;
    border-width: 3px;
    border-style: solid;
    margin: 10px 10px;
    object-fit: cover;
    position: absolute;
    top: 50px;
    left: 20px;
    z-index: 1;  /* Ajusta este número para subirla o bajarla */
}
.skills ul{
    list-style-type: none;
    padding: 0;
    text-align: center;
}
.portfolio ul{
    list-style-type: none;
    padding: 0;
    text-align: center;
}
@media (max-width: 768px) {
    .tarjeta-titulo {
        font-size: 1.5em; /* Reduce el tamaño del título en móviles */
    }
    .tarjeta-texto {
        font-size: 1em; /* Reduce el tamaño del texto en móviles */
    }
}