body{
    background-color :#f0f2f5;
    color: black;
    font-family: Arial, Helvetica, sans-serif;
}
.card h1, .card h2, .card h3, .card h4 {
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}
.card{
    background-color:#B9DEFA;
    width: 300px;
    padding: 20px;
    margin: 20px auto;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    border-color: black;
    border-width: 1px;
    border-style: solid;
    text-align: justify;
}
.social-media{
    text-align: center;
    margin-top: 15px;
}
.fa-github{
    color: black;
    font-size: 40px;
    margin-top: 10px;
    margin-left: 10px;
}
.fa-linkedin{
    color: #0A66C2;
    font-size: 40px;
    margin-top: 10px;
    margin-left: 10px;
}
.fa-message{
    color: #0084FF;
    font-size: 40px;
    margin-top: 10px;
    margin-left: 10px;
}
.fa-at{
    color: black;
    font-size: 40px;
    margin-top: 10px;
    margin-left: 10px;
}
.profile{
    width: 150px;
    height: 150px;
    border-radius: 50%;
    border-color: black;
    border-width: 1px;
    border-style: solid;
    margin: 20px auto;
    object-fit: cover;
    display: block;
    margin: 20px auto;
}
.skills ul{
    list-style-type: none;
    padding: 0;
    text-align: center;
}
