body{
    background-color:#CBD6E3;
}
.card{
    background-color: white;
    width: 300px;
    padding: 20px;
    margin: 20px auto;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    text-align: center;
}
.fa-github{
    color: black;
    font-size: 40px;
    margin-top: 10px;
    margin-left: 10px;
}
.fa-linkedin{
    color: #0A66C2;
    font-size: 40px;
    margin-top: 10px;
    margin-left: 10px;
}
.fa-message{
    color: #0084FF;
    font-size: 40px;
    margin-top: 10px;
    margin-left: 10px;
}
.fa-at{
    color: black;
    font-size: 40px;
    margin-top: 10px;
    margin-left: 10px;
}
.profile{
    
    border-radius: 50%;
    margin: 20px auto;
}